<div id="container" class="page">
<div class="marge"></div>
  <div id="card">
    <div class="front solid">
      <%= @card["q"] %>
    </div>
    <div class="back">
      <%= @card["a"] %>
      <% if @card["lec"] %>
        <div class="lecture-number"><strong>based on lecture</strong> <%= @card["lec"] %></div>
      <% end %>
    </div>
  </div>

  <div id="next-card"></div>

</div>

<div id="footer">
  <div class="inner">
    <a href="http://tedpak.com/2013/10/30/exporting-anki-flashcards-to-the-web" 
        target="_blank">About</a> this project.
    Get the <a href="https://github.com/powerpak/anki-slideshow" target="_blank">source code</a>.
    Content by <a href="http://tedpak.com" target="_blank">Dina</a>.
  </div>
</div>

<script>
$(function() {
  
  var hash = window.location.hash, 
    digits = hash.match(/\d+/);
  if (hash.match(/night/)) { $('html').addClass('night'); }
  if (digits) { 
    $('#container').css('font-size', digits[0] + '%');
    $('#container, #switcher .inner, #footer .inner').css('max-width', 700 * parseFloat(digits[0]) / 100)
  }
  
  var fadeTime = 500, changeTime = [10000, 6700], switcherHeight = 60;
  
  $.fn.extend({
    
    timer: function(msecs, onFinished) {
    }
    
  });
  
  function flipCard(e) {
    $('#timer').trigger('stop');
    $('#card .front').removeClass('solid').fadeOut(fadeTime);
    $('#next').val('Next card').unbind('click').click(nextCard);
    $('#timer').trigger('callback', nextCard);
    $('#timer').trigger('start', changeTime[1]);
    $('#card .back').addClass('solid').fadeIn(fadeTime);
    $.scrollTo('#card .back hr', fadeTime, {offset: {axis: 'y', top: -switcherHeight}});
    if ($('body').is('.hover')) { $('#timer').trigger('stop'); }
  }
  
  function nextCard(e) {
    var href = "ITLAW",
      absoluteHref = $('<a/>').attr('href', href).get(0).href;
    if ($('#timer').hasClass('transition')) { return; } // Don't double-flip the card
    $('#timer').trigger('stop').addClass('transition');
    $("#next-card").load(href + " #card > *", function() {
      $('#card').fadeOut(fadeTime, function() {
        if (window.history && window.history.pushState && window.location.href != absoluteHref) {
          window.history.pushState(null, null, href);
        }
        $('#card').empty().show().append($('#next-card > *'));
        $('#next').val('Turn over').unbind('click').click(flipCard);
        $('#container .front').click(flipCard);
        $('#container .back').click(nextCard);
        $('#timer').trigger('callback', flipCard);
        $('#timer').trigger('start', changeTime[0]).removeClass('transition');
        $('#card .front').addClass('solid').fadeIn();
        $.scrollTo('#card .front', fadeTime, {offset: {axis: 'y', top: -switcherHeight}});
        if ($('body').is('.hover')) { $('#timer').trigger('stop'); }
      });
      window.ga && window.ga('send', 'pageview', href); // Track the AJAX page load
    });
  }
  
  $('#container .front').click(flipCard);
  $('#container .back').click(nextCard);
  $('#card .front').fadeIn(fadeTime);
  
  $('body').click(function(e) { 
    if (!$(e.target).closest('#container, #footer, #switcher').length) { $('html').toggleClass('night'); }
  });
  
});
</script>