<h1 style="margin-top: 0px; text-transform: lowercase">Welcome.</h1>

<p>This website contains all EU laws related to software. </p>

<p> Access all EU laws related to IT on our website. Our flashcards remove the complexity of navigating through extensive European legislations and codes, allowing you to quickly grasp essential legal concepts.</p>

<% if back %>

<hr />

<p>Currently there are 138 flashcards.</p>

<ul id="seo-decklist">
  <% @decks.each do |d| %>
  <li><a href="/<%= d %>"><%= d %></a></li>
  <% end %>
</ul>

<% end %>